@model EVCharging.Data.Staticpage

@{
    ViewBag.Title = "Create new static page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Static Page Name:</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <select name="StaticPageName">
                            <option value="About">About</option>
                            <option value="Contact">Contact </option>
                            <option value="FAQ">FAQ </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Static Page Content:</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <textarea class="ckeditor" name="StaticPageContent"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">

                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-success" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>

        </div>

    </form>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
