body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-header {
    padding-left: 25px;
}

.container-fluid {
    justify-content: space-between;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}



.form-group {
    margin-bottom: 20px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 10px;
    margin: 5px 0px 0px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 10;
    font-size: 14px;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
}

    .registerbtn:hover {
        opacity: 20;
    }





body {
    width: 100%;
    height: auto;
    
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}




.login-page {
    width: 600px;
    padding: 10% 0 0;
    margin: auto;
}

    .login-page .form .login {
        margin-top: -31px;
        margin-bottom: 26px;
    }

.form {
    position: relative;
    z-index: 1;
    background:black;
    opacity:0.6;

    max-width: 360px;
    margin: 0 auto 100px;
    padding: 33px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form1{
    position: relative;
    z-index: 1;
    background: black;
    opacity: 0.8;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 33px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.button {
    transition-duration: 0.4s;
}

    .button:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }

table, td {
    border: 1px solid White;
    text-align: center;
    height: 100px;
}

th {
    border: 1px solid black;
    text-align: center;
    color: black;
    background-color: yellow;
}
