@model IEnumerable<EVCharging.Data.Staticpage>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div style="background-color:#ffffff">
       

        

            @foreach (var item in Model)
            {
                string nmb = "About";

                if (item.StaticPageName == nmb)
                {

                    <h4>@Html.Raw(item.StaticPageContent)  </h4>


                }

            }

        </div>
