
@{
     Layout = "~/Views/Shared/_Layout3.cshtml";
}

    <h1 style="text-align:center; color:yellow;"><span>Welcome </span> @Session["UserEmail"]  </h1>
    <h1 style="color:Red; text-align:center"> <a href="https://localhost:44344/" target="_blank">ADMIN</a></h1>

