@model IEnumerable<EVCharging.Data.Staticpage>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div style="background-color:white">
        <h2>Contact</h2>

        @foreach (var item in Model)
        {
            string nmb = "Contact";

            if (item.StaticPageName == nmb)
            {

                <h4>@Html.Raw(item.StaticPageContent) </h4>


            }

        }

    </div>