@model IEnumerable<EVCharging.Data.Staticpage>

@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
    <div style="background-color:white;border:100px">
        

        @foreach (var item in Model)
        {
            string nmb = "FAQ";

            if (item.StaticPageName == nmb)
            {

                <h4>@Html.Raw(item.StaticPageContent) </h4>

            }

        }
    </div>